In [1]:
import pandas as pd 
import numpy as np

In [2]:
quest_path = r"C:\Users\ajayp\OneDrive\Desktop\Deep Learning\DL Projects\1.Multiclass Multilabel prediction For stack overflow Questions\stacksample\Questions.csv"

In [3]:
quest = pd.read_csv(quest_path, encoding = 'latin1')
quest.head(10)

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...
5,330,63.0,2008-08-02T02:51:36Z,NaN,29,Should I use nested classes in this case?,<p>I am working on a collection of classes use...
6,470,71.0,2008-08-02T15:11:47Z,2016-03-26T05:23:29Z,13,Homegrown consumption of web services,<p>I've been writing a few web services for a ...
7,580,91.0,2008-08-02T23:30:59Z,NaN,21,Deploying SQL Server Databases from Test to Live,<p>I wonder how you guys manage deployment of ...
8,650,143.0,2008-08-03T11:12:52Z,NaN,79,Automatically update version number,<p>I would like the version property of my app...
9,810,233.0,2008-08-03T20:35:01Z,NaN,9,Visual Studio Setup Project - Per User Registr...,<p>I'm trying to maintain a Setup Project in <...

In [4]:
import re

In [5]:
def chara_rem(body):
    regex = re.compile('<.*?>')
    return re.sub(regex,"",body)

In [6]:
quest['Body']=quest['Body'].apply(chara_rem)
quest.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,I've written a database generation script in S...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,Are there any really good tutorials explaining...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,Has anyone got experience creating SQL-based A...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,This is something I've pseudo-solved many time...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,I have a little game written in C#. It uses a ...

In [7]:
questfin = quest.drop(['OwnerUserId','CreationDate','ClosedDate','Score'],axis =1)

In [8]:
print(questfin.shape)
questfin.head()

(1264216, 3)

,Id,Title,Body
0,80,SQLStatement.execute() - multiple queries in o...,I've written a database generation script in S...
1,90,Good branching and merging tutorials for Torto...,Are there any really good tutorials explaining...
2,120,ASP.NET Site Maps,Has anyone got experience creating SQL-based A...
3,180,Function for creating color wheels,This is something I've pseudo-solved many time...
4,260,Adding scripting functionality to .NET applica...,I have a little game written in C#. It uses a ...

In [9]:
questfin.to_csv('Questionfinal_clean.csv', index = False)

In [10]:
quest.to_csv('Question_clean.csv', index = False)

In [11]:
ques_path = r"C:\Users\ajayp\OneDrive\Desktop\Deep Learning\DL Projects\1.Multiclass Multilabel prediction For stack overflow Questions\Questionfinal_clean.csv"

In [12]:
ques = pd.read_csv(ques_path)

In [13]:
ques.shape

(1264216, 3)

In [14]:
tags_path = r"C:\Users\ajayp\OneDrive\Desktop\Deep Learning\DL Projects\1.Multiclass Multilabel prediction For stack overflow Questions\stacksample\Tags.csv"

In [15]:
tags = pd.read_csv(tags_path)

In [16]:
tags.Tag.value_counts().nlargest(n=10)

javascript    124155
java          115212
c#            101186
php            98808
android        90659
jquery         78542
python         64601
html           58976
c++            47591
ios            47009
Name: Tag, dtype: int64

In [17]:
tagtop10 = ['javascript','java','c#','php','android','jquery','python','html','c++','ios']

In [18]:
tags_10 = tags[tags.Tag.isin(tagtop10)]
print(tags_10.shape)
tags_10.head()

(826739, 2)

      Id  Tag
14   260   c#
18   330  c++
28   650   c#
35   930   c#
39  1010   c#

In [19]:
tag10 = tags_10.loc[tags_10.astype(str).drop_duplicates().index]
tag10.shape

(826739, 2)

In [20]:
tag10.head()

      Id  Tag
14   260   c#
18   330  c++
28   650   c#
35   930   c#
39  1010   c#

In [21]:
def add_tags(question_id):
    return tags_10[tags_10['Id'] == question_id['Id']].Tag.values

top = tags_10.apply(add_tags, axis=1)

In [22]:
len(top),tags_10.shape

(826739, (826739, 2))

In [23]:
tag_top_10=pd.concat([tags_10, top.rename('Tags')], axis=1)
tag_top_10.head()

      Id  Tag   Tags
14   260   c#   [c#]
18   330  c++  [c++]
28   650   c#   [c#]
35   930   c#   [c#]
39  1010   c#   [c#]

In [24]:
tag_top_10.drop(["Tag"], axis=1, inplace=True)
tag_top_10.shape

(826739, 2)

In [25]:
top10_tags=tag_top_10.loc[tag_top_10.astype(str).drop_duplicates().index]

In [26]:
top10_tags.shape

(706336, 2)

In [27]:
data = pd.merge(ques, top10_tags, on = 'Id')
print(data.shape)
data.head()

(706336, 4)

,Id,Title,Body,Tags
0,260,Adding scripting functionality to .NET applica...,I have a little game written in C#. It uses a ...,[c#]
1,330,Should I use nested classes in this case?,I am working on a collection of classes used f...,[c++]
2,650,Automatically update version number,I would like the version property of my applic...,[c#]
3,930,How do I connect to a database and loop over a...,What's the simplest way to connect and query a...,[c#]
4,1010,"How to get the value of built, encoded ViewState?",I need to grab the base64-encoded representati...,[c#]

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MultiLabelBinarizer
from nltk import word_tokenize
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding, BatchNormalization, GRU ,concatenate
from keras.models import Model
import warnings
warnings.filterwarnings('ignore')

C:\Users\ajayp\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [29]:
mlb = MultiLabelBinarizer()

In [30]:
mlb.fit(data.Tags)
labels = mlb.classes_
labels

array(['android', 'c#', 'c++', 'html', 'ios', 'java', 'javascript',
       'jquery', 'php', 'python'], dtype=object)

In [31]:
train,test = train_test_split(data[:550000],test_size=0.25,random_state=22)

In [32]:
train.shape,test.shape

((412500, 4), (137500, 4))

In [33]:
X_train_t = train['Title']
X_train_b = train['Body']
y_train = mlb.transform(train['Tags'])
X_test_t = test['Title']
X_test_b = test['Body']
y_test = mlb.transform(test['Tags'])

In [34]:
sen_len_t = []
for sen in train['Title']:
    sen_len_t.append(len(word_tokenize(sen)))
max(sen_len_t)

60

In [35]:
np.quantile(sen_len_t,0.97)

18.0

In [36]:
max_len_t = 18
tok = Tokenizer(char_level=False,split=' ')
tok.fit_on_texts(X_train_t)
sequences_train_t = tok.texts_to_sequences(X_train_t)

In [37]:
vocab_len_t = len(tok.index_word)
vocab_len_t

68975

In [38]:
seq_mat_train_t = sequence.pad_sequences(sequences_train_t, maxlen = max_len_t)
seq_mat_train_t

array([[   0,    0,    0, ...,    2,  398,   89],
       [   0,    0,    0, ...,   21, 5663, 4317],
       [   0,    0,    0, ..., 5287,    2,   27],
       ...,
       [   0,    0,    0, ...,   30,    2,   18],
       [   0,    0,    0, ...,   49,    2,   18],
       [   0,    0,    0, ...,   26,  748,  199]])

In [39]:
sequences_test_t = tok.texts_to_sequences(X_test_t)
seq_mat_test_t = sequence.pad_sequences(sequences_test_t, maxlen = max_len_t)
seq_mat_test_t

array([[    0,     0,     0, ...,   132,     7,    78],
       [    0,     0,     0, ...,   236,   291,    68],
       [    0,     0,     0, ...,    25,  1263,   356],
       ...,
       [    0,     0,     0, ...,  2251,   236,   924],
       [    0,     0,     0, ..., 28520,  1638,   419],
       [    0,     0,     0, ...,    20, 56599,   630]])

In [40]:
seq_mat_train_t.shape, seq_mat_test_t.shape, y_train.shape, y_test.shape

((412500, 18), (137500, 18), (412500, 10), (137500, 10))

In [41]:
sen_len_b = []

In [42]:
for sen in train['Body']:
    sen_len_b.append(len(word_tokenize(sen)))
max(sen_len_b)

20868

In [43]:
np.quantile(sen_len_b, 0.90)

578.0

In [44]:
max_len_b = 600
tok.fit_on_texts(X_train_b)
sequence_train_b = tok.texts_to_sequences(X_train_b)

In [45]:
vocab_len_b = len(tok.index_word)
vocab_len_b

1295441

In [46]:
seq_mat_train_b =  pad_sequences(sequence_train_b, maxlen = max_len_b)
seq_mat_train_b

array([[   0,    0,    0, ...,    3,  137,    2],
       [   0,    0,    0, ...,    1, 1579, 2041],
       [   0,    0,    0, ...,   85,   65,  427],
       ...,
       [   0,    0,    0, ...,  983,    2,  400],
       [   0,    0,    0, ...,  255,  336,   10],
       [   0,    0,    0, ...,  954,   24, 1427]])

In [47]:
sequence_test_b = tok.texts_to_sequences(X_test_b)
seq_mat_test_b = sequence.pad_sequences(sequence_test_b, maxlen = max_len_b)

In [48]:
seq_mat_train_t.shape, seq_mat_train_b.shape, y_train.shape

((412500, 18), (412500, 600), (412500, 10))

In [49]:
seq_mat_test_t.shape, seq_mat_test_b.shape, y_test.shape

((137500, 18), (137500, 600), (137500, 10))

In [80]:
def RNN() :
    #Title i/p
    title_ip = Input(name='title_ip',shape=[max_len_t])
    title_ebb = Embedding(vocab_len_t+1, 500, input_length = max_len_t, mask_zero = True, name = 'title_ebb')(title_ip)
    GRU_out_t = GRU(128)(title_ebb)
    #auxiliary output to train lstm weights smoothly
    aux_op = Dense(10, activation = 'sigmoid', name ='aux_op')(GRU_out_t)
    
    #Body i/p
    body_ip = Input(name='body_ip',shape=[max_len_b])
    body_ebb = Embedding(vocab_len_b+1, 90, input_length = max_len_b, mask_zero = True, name = 'body_ebb')(body_ip)
    GRU_out_b = GRU(32)(body_ebb)
    
    #combined with lstm o/p
    com = concatenate([GRU_out_t,GRU_out_b])
    
    #now combined data is being fed to dense layers
    dense1 = Dense(100, activation ='relu')(com)
    dp1 = Dropout(0.2)(dense1)
    bn = BatchNormalization()(dp1)
    dense2 = Dense(80, activation = 'relu')(bn)
    main_op =Dense(10, activation = 'sigmoid', name ='main_op')(dense2)
    
    model = Model(inputs = [title_ip, body_ip], outputs = [main_op, aux_op])
    return model

In [81]:
model = RNN()
model.summary()

Model: "model_3"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 title_ip (InputLayer)       [(None, 18)]                 0         []

 body_ip (InputLayer)        [(None, 600)]                0         []

 title_ebb (Embedding)       (None, 18, 500)              3448800   ['title_ip[0][0]']
                                                          0

 body_ebb (Embedding)        (None, 600, 90)              1165897   ['body_ip[0][0]']
                                                          80

 gru_2 (GRU)                 (None, 128)                  241920    ['title_ebb[0][0]']

 gru_3 (GRU)                 (None, 32)                   11904     ['body_ebb[0][0]']

 concatenate_3 (Concatenate  (None, 160)                  0         ['gru_2[0][0]',
 )                                                                   'gru_3[0][0]']

 dense_6 (Dense)             (None, 100)                  16100     ['concatenate_3[0][0]']

 dropout_3 (Dropout)         (None, 100)                  0         ['dense_6[0][0]']

 batch_normalization_3 (Bat  (None, 100)                  400       ['dropout_3[0][0]']
 chNormalization)

 dense_7 (Dense)             (None, 80)                   8080      ['batch_normalization_3[0][0]'
                                                                    ]

 main_op (Dense)             (None, 10)                   810       ['dense_7[0][0]']

 aux_op (Dense)              (None, 10)                   1290      ['gru_2[0][0]']

==================================================================================================
Total params: 151358284 (577.39 MB)
Trainable params: 151358084 (577.39 MB)
Non-trainable params: 200 (800.00 Byte)
__________________________________________________________________________________________________

In [82]:
model.compile(optimizer = 'adam', loss = {'main_op':'categorical_crossentropy','aux_op':'categorical_crossentropy'},
              metrics = ['accuracy'])

In [83]:
results = model.fit({'title_ip':seq_mat_train_t, 'body_ip': seq_mat_train_b},
                    {'main_op':y_train, 'aux_op':y_train},
                   validation_data =[{'title_ip':seq_mat_test_t, 'body_ip': seq_mat_test_b},
                    {'main_op':y_test, 'aux_op':y_test}],
                   epochs = 3, batch_size = 700)

Epoch 1/3
  1/590 [..............................] - ETA: 5:48:54 - loss: 5.4775 - main_op_loss: 2.7756 - aux_op_loss: 2.7019 - main_op_accuracy: 0.0843 - aux_op_accuracy: 0.0971

ResourceExhaustedError: Graph execution error:

Detected at node 'Adam/AssignAddVariableOp_2' defined at (most recent call last):
    File "C:\Users\ajayp\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
      return _run_code(code, main_globals, None,
    File "C:\Users\ajayp\anaconda3\lib\runpy.py", line 87, in _run_code
      exec(code, run_globals)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
      app.launch_new_instance()
    File "C:\Users\ajayp\anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
      app.start()
    File "C:\Users\ajayp\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
      self.io_loop.start()
    File "C:\Users\ajayp\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
      self.asyncio_loop.run_forever()
    File "C:\Users\ajayp\anaconda3\lib\asyncio\base_events.py", line 601, in run_forever
      self._run_once()
    File "C:\Users\ajayp\anaconda3\lib\asyncio\base_events.py", line 1905, in _run_once
      handle._run()
    File "C:\Users\ajayp\anaconda3\lib\asyncio\events.py", line 80, in _run
      self._context.run(self._callback, *self._args)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 471, in dispatch_queue
      await self.process_one()
    File "C:\Users\ajayp\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 460, in process_one
      await dispatch(*args)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 367, in dispatch_shell
      await result
    File "C:\Users\ajayp\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 662, in execute_request
      reply_content = await reply_content
    File "C:\Users\ajayp\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 360, in do_execute
      res = shell.run_cell(code, store_history=store_history, silent=silent)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 532, in run_cell
      return super().run_cell(*args, **kwargs)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2863, in run_cell
      result = self._run_cell(
    File "C:\Users\ajayp\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2909, in _run_cell
      return runner(coro)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
      coro.send(None)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3106, in run_cell_async
      has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
    File "C:\Users\ajayp\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3309, in run_ast_nodes
      if await self.run_code(code, result, async_=asy):
    File "C:\Users\ajayp\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3369, in run_code
      exec(code_obj, self.user_global_ns, self.user_ns)
    File "C:\Users\ajayp\AppData\Local\Temp\ipykernel_10312\820237674.py", line 1, in <cell line: 1>
      results = model.fit({'title_ip':seq_mat_train_t, 'body_ip': seq_mat_train_b},
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1742, in fit
      tmp_logs = self.train_function(iterator)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1338, in train_function
      return step_function(self, iterator)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1322, in step_function
      outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1303, in run_step
      outputs = model.train_step(data)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1084, in train_step
      self.optimizer.minimize(loss, self.trainable_variables, tape=tape)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\optimizers\optimizer.py", line 544, in minimize
      self.apply_gradients(grads_and_vars)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\optimizers\optimizer.py", line 1230, in apply_gradients
      return super().apply_gradients(grads_and_vars, name=name)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\optimizers\optimizer.py", line 652, in apply_gradients
      iteration = self._internal_apply_gradients(grads_and_vars)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\optimizers\optimizer.py", line 1260, in _internal_apply_gradients
      return tf.__internal__.distribute.interim.maybe_merge_call(
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\optimizers\optimizer.py", line 1352, in _distributed_apply_gradients_fn
      distribution.extended.update(
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\optimizers\optimizer.py", line 1349, in apply_grad_to_update_var
      return self._update_step(grad, var)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\optimizers\optimizer.py", line 241, in _update_step
      self.update_step(gradient, variable)
    File "C:\Users\ajayp\anaconda3\lib\site-packages\keras\src\optimizers\adam.py", line 178, in update_step
      m.assign_add(-m * (1 - self.beta_1))
Node: 'Adam/AssignAddVariableOp_2'
OOM when allocating tensor with shape[1295442,90] and type float on /job:localhost/replica:0/task:0/device:CPU:0 by allocator cpu
	 [[{{node Adam/AssignAddVariableOp_2}}]]
Hint: If you want to see a list of allocated tensors when OOM happens, add report_tensor_allocations_upon_oom to RunOptions for current allocation info. This isn't available when running in Eager mode.
 [Op:__inference_train_function_130887]

In [60]:
(predict_main,predict_aux) = model.predict({'title_ip':seq_mat_test_t, 'body_ip':seq_mat_test_b}, verbose = 1)

4297/4297 [==============================] - 265s 60ms/step

In [67]:
from sklearn.metrics import classification_report, f1_score

In [77]:
print(f1_score(y_test,predict_main> 0.40, average = 'samples'))

0.2065231156722066

In [75]:
print(classification_report(y_test,predict_main>.40))

              precision    recall  f1-score   support

           0       0.12      1.00      0.22     17099
           1       0.15      1.00      0.26     20569
           2       0.07      1.00      0.13      9540
           3       0.08      1.00      0.15     11199
           4       0.07      1.00      0.12      8975
           5       0.16      1.00      0.28     22522
           6       0.17      1.00      0.29     22976
           7       0.12      1.00      0.21     16246
           8       0.14      1.00      0.25     19810
           9       0.08      1.00      0.15     11545

   micro avg       0.12      1.00      0.21    160481
   macro avg       0.12      1.00      0.21    160481
weighted avg       0.13      1.00      0.23    160481
 samples avg       0.12      1.00      0.21    160481

In [78]:
test.iloc[24]

Id                                                 3693140
Title    Does refreshing mysql query by jQuery ajax cra...
Body     I'm using jQuery .ajax function to load php pa...
Tags                                         [php, jquery]
Name: 38796, dtype: object

In [79]:
predict_main[24].round(decimals = 2)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.], dtype=float32)